<section class="body__section--root">
  <h1 class="section__h1--app-head"> Sign In ! </h1>

  <%= form_with url: new_signin_path do |form| %>
    <div class="form__input--input">
      Email :<br/>
      <%= form.email_field :email, class: "input__text_field" %>
    </div>
    <div class="form__input--input">
      Password :<br/>
      <%= form.password_field :password, class: "input__text_field" %>
    </div>
    <%= form.submit "Sign In !", class: "sign" %>
  <% end %>
</section>
