<section class="body__main--root">
  <h1 class="main__h1--app-head">Welcome to Todo Manager</h1>
  <p class="ul__li--todo">If you are new user, <a href="/users/new">sign up here</a></p>
  <p class="ul__li--todo">If you are old user, <a href="/signin">sigin here</a></p>
</section>
