/* Main App */
.body__main--root {
  max-width: 600px;
  margin: 10px auto;
  font-family: sans-serif;
}

/* Todo App Heading */
.main__h1--app-head {
  font-size: 30px;
  color: #453c52;
  letter-spacing: 0.14px;
  padding-left: 6px;
}

/* Input fields class */
/*
 * 1. todo_text
 * 2. due_date
 */
.input--todo_text {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  border-radius: 4px;

  font-size: 20px;
  color: #726a7e;
  letter-spacing: 0.1px;
  width: 280px;
  height: 40px;
  text-indent: 15px;
}

.input--due_date {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  margin-left: 5px;
}

/* Heading of Overdue, Due Today, Due Later */
.due-head {
  font-size: 20px;
  color: #453c52;
  letter-spacing: 0.1px;
  /* width: 300px; */
  height: 19px;
}

/* Todo list item checkbox class */
.li__input--big {
  background: #ffffff;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 10px;
}

/* Todo list item class */
.ul__li--todo {
  font-size: 20px;
  color: #453c52;
  letter-spacing: 0.1px;
  line-height: 25px;
  list-style: none;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
}

/* Class for date mentioned on Remaining Todos */
.date {
  font-size: 12px;
  color: #726a7e;
  letter-spacing: 0.09px;
}

/* Add Button class */
.btn--pleasant {
  background: #48bb78;
  border-radius: 4px;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  border-width: 1px;
  border-color: transparent;
  width: 90px;
  height: 40px;
  margin-left: 5px;
}

/* Class for some infos like overdue, dones todos */
.overdue-dones--info {
  font-size: 20px;
  color: #453c52;
  letter-spacing: 0.09px;
  padding-left: 15px;
}

/* class for overdue text */
.text--overdue {
  color: red;
}

/* class to apply flex property */
.block--flex {
  display: flex;
  height: 30px;
}

/* class to apply appropriate padding */
.block--pad {
  padding-left: 10px;
  padding-bottom: 10px;
}

/* To make date text non-visible in date input field */
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

/* class for trashcan image in each todo list item */
.img--trashcan {
  width: 20px;
  align-content: center;
  align-items: center;
  align-self: center;
  padding-left: 20px;
}
/* Initially making trashcan image and a tag non-visible */
.a--hide {
  display: none;
}
/* class for list li conditions */
li:hover,
li:active {
  background-color: rgb(209, 209, 209);
}
li:hover > a {
  display: inline;
}
li:active > a {
  display: inline;
}

/* for date text mentioned in remaining todos */
.li--date {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: #726a7e;
  letter-spacing: 0.09px;
}

.done {
  text-decoration: line-through;
}
